Source: ros-groovy-trivial-gray-streams
Section: misc
Priority: extra
Maintainer: Jan Winkler <winkler@cs.uni-bremen.de>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, sbcl
Homepage: http://common-lisp.net/project/trivial-gray-streams/
Standards-Version: 3.9.2

Package: ros-groovy-trivial-gray-streams
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sbcl
Description: 3rd party library: trivial-gray-streams
