Source: ros-jade-split-sequence
Section: misc
Priority: extra
Maintainer: Lorenz Moesenlechner <moesenle@cs.tum.edu>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, sbcl
Homepage: http://www.cliki.net/SPLIT-SEQUENCE
Standards-Version: 3.9.2

Package: ros-jade-split-sequence
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sbcl
Description: 3rd party library: split-sequence
